.sidebarItemChat {
  height: 50px;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  margin-left: -5px;
  width: 80%;



}

.iconeSala{
  margin-left: 1rem;
  margin-right: 1rem;
}

.notificacao {
  font-size: 12px;
  font-weight: bold;
  background-color: #ED4956;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.2rem;
  
}

#imagemPerfilChatS {
  margin: 0.8rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: #000000 0.5px solid;
  
}


.sidebarDate{
  height: 50px;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  margin-left: -1.9rem;
  width: 96%;
  
  

}

.densityMediumIcon{
  /* display: flex; */
  position: absolute;
  margin-inline-start: 84%;
  margin-top: -44.3%;
  

}

.index{
  
  /* display: flex; */
  /* width: 50%; */
  border-bottom: 2px solid #201F25;
}




